.menu {
    display: flex;
    justify-content: center;
    padding: 1rem;
    width: 100%;
    position: relative;
    top: 4rem;
  }
  
  .quantity-type {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .quantity-type-options {
    display: flex;
    align-items: center;
    margin: 0 1rem;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  .quantity-type-options i,
  .letter-icon {
    margin-right: 0.5rem;
  }
  
  .letter-icon {
    font-size: 20px;
    font-weight: bold;
  }
  